@model List<ProductViewModel>
<div class="container">
    <div class="slider-items-products">
        <div class="jtv-special-block">
            <div class="jtv-block-inner">
                <div class="block-title">
                    <h2>Special Product</h2>
                </div>
                <div class="jtv-decs-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</div>
                <a href="shop_grid.html" class="jtv-more-bnt">More Products</a>
            </div>
            <div id="special-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col4 products-grid block-content">
                    @foreach (var item in Model)
                    {
                        var url = "/" + item.SeoAlias + "-p." + item.Id + ".html";
                        <div class="item">
                            <div class="item-inner">
                                <div class="item-img">
                                    <div class="item-img-info">
                                        <a class="product-image" title="Product Title Here" href="@url"> <img alt="Product Title Here" src="@item.Image"> </a>
                                        <div class="jtv-box-hover">
                                            <ul class="add-to-links">
                                                <li><a class="link-quickview" data-id="@item.Id" href="#"><i class="icon-magnifier-add icons"></i><span class="hidden">Quick View</span></a></li>
                                                <li><a class="link-wishlist" href="wishlist.html"><i class="icon-heart icons"></i><span class="hidden">Wishlist</span></a></li>
                                                <li><a class="link-compare" href="compare.html"><i class="icon-shuffle icons"></i><span class="hidden">Compare</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info">
                                    <div class="info-inner">
                                        <div class="item-title"> <a title="Product Title Here" href="@url">@item.Name </a> </div>
                                        <div class="item-content">
                                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                                            <div class="item-price">
                                                <div class="price-box"> <span class="regular-price"> <span class="price">@item.Price.ToString("N0")</span> </span> </div>
                                            </div>
                                            <div class="action">
                                                <button class="button btn-cart" data-id="@item.Id" type="button" title="" data-original-title="Add to Cart"><span>Add to Cart</span> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>